body {
	margin: 0;
	padding: 0;
	/*background-image: url('../img/bg.jpg');
	background-size: cover;*/
}

a, img {
	border: 0;
	outline: 0;
}

.red {
	 background-color: #cc0c00;
}

header {
	width: 970px;
	height: 170px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

header .logo-wordmark {
	position: absolute;
	right: 0px;
	top: 43.75px;
}

header .logo-panda {
	position: absolute;
	left: 0px;
}

.nav-btn {
	height: 143px;
	width: 143px;

	position: relative;
	z-index: 99999;

	float: right;

	top:0;
}

.nav-btn-social {
	height: 29px;
	width: 69px;

	position: relative;
	z-index: 99999;

	float: right;

	top:0;
}

.buttons {
	position: relative;
	width: 288px; /* 429 for three tabs! :3 YOUR WELCOME future graham! ;) */
	z-index: 4;
	margin-top: -44px;
	margin-left: 52px;
}

.buttons-social {
	position: absolute;
	width: 288px;
	z-index: 4;
	right: 52px;

}

nav .portfolio-btn {
	background: url(../img/btn-portfolio.png) no-repeat;
}

nav .contact-btn {
	background: url(../img/btn-contact.png) no-repeat;
}

nav .about-btn {
	background: url(../img/btn-about.png) no-repeat;
}

nav .twitter-btn {
	background: url(../img/btn-twitter.png) no-repeat;
}

nav .facebook-btn {
	background: url(../img/btn-facebook.png) no-repeat;
}

.content {
	width: 970px;
	min-height: 500px;
	margin: 0 auto;
	margin-top: -1px;
}

section.nopadding {
	padding-bottom:0;
}

section {
	background-color: #F2F2F2;
	margin: 50px 0;
	padding-bottom: 50px;
	position: relative;
	z-index: 4;
	min-height: 200px;
}
section:first-child{
	margin-top: 0;
}

h1 {
	margin: 45px;
	display: inline-block;
	font-family: Aaargh, Arial, sans-serif;
	font-weight: normal;
	font-size: 45px;
}
p {
	margin: 0px 45px 20px 45px;
	font-family: Arial, sans-serif;
	text-align: justify;
}
a, a:link, a:visited{
	text-decoration: none;
	color: #c00c00;
}

nav {
	height: 15px;
	width: 970px;
	/*background: url(../img/header-bar.png) no-repeat;*/
	position: absolute;
	bottom: 0;
}

nav img {
	position: relative;
	z-index: 5;
}

.slider {
	overflow: hidden;
	height: 700px;
	width: 100%;
	position: relative;

	background: #f2f2f2;

	z-index: 6;
}

.slide {
	width: 500px;
}

.slide img {
	display: block;
	position: absolute;
	top: 0;
}

.slide .slide-name {
	font-family: Aaargh, Arial, sans-serif;
	font-size: 45px;
	margin: 20px 50px 10px;
	width: 870px;
	position: absolute;
	top: 504px;
	color: #545454;
}

.slide .slide-desc {
	font-family: Arial,sans-serif;
	font-size: 18px;
	margin: 10px 50px;
	width: 870px;
	text-align: justify;
	position: absolute;
	top: 586px;
	color: #545454;
}

.slide-image {
 	position: relative;
}

.slide-btn {
	position: absolute;
	right: 270px;
	top: 510px;
}

.contact-form {
	font-family: Aaargh, Arial, sans-serif;
	font-size: 25px;
	padding: 50px 100px 100px 100px;
	color: #FFF;
}

.contact-form input{
	background-color: #FFF;
	color: #cc0c00;
	font-weight: bold;
	padding: 10px 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: none;
	width: 760px;
}

.contact-form .form-left {
	width: 365px;
	float: left;
}
.contact-form .form-left {
	width: 365px;
	float: right;
}

.contact-form input[type=submit] {
	width: 100%;
	font-size: 30px;
}

.contact-form .form-left input, .contact-form .form-right input {
	width: 355px;
}

.contact-form textarea {
	background-color: #FFF;
	color: #cc0c00;
	font-weight: bold;
	padding: 10px 0 0 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: none;
	width: 765px;
}

.mega-text {
	background: none repeat scroll 0 0 #CC0C00;
	color: #FFFFFF;
	font-family: Aaargh,Arial,sans-serif;
	font-size: 50px;
	padding: 50px;
}

.sub-mega-text {
	font-family: Arial,sans-serif;
	font-size: 23px;
	padding: 50px;
	text-align: center;
}

.mega-text-back {
	text-align: center;
	color: #cc0c00;
	text-decoration: none;
	font-weight: bold;
}

.heading {
	color: #FFFFFF;
	font-family: Aaargh;
	font-size: 60px;
	padding: 30px 0 0 100px;
}

.subheading {
	color: #FFFFFF;
	font-family: Arial,sans-serif;
	padding: 0 100px;
}

.h1 {
	height: 242.5px;
}
.w1 {
	width: 242.5px;
}
.h2 {
	height: 485px;
}
.w2 {
	width: 485px;
}
.project {
	background: #dedede;
	background-size: cover;
	box-sizing: border-box;
	background-repeat: no-repeat;
	border: solid 10px #F2F2F2;
}